git+https://github.com/datavillage-me/dv-utils@main#egg=dv-utils
pandas
openpyxl
presidio_analyzer
presidio_anonymizer
spacy >=3.5.1,<3.6.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.2.0/en_core_web_lg-2.2.0.tar.gz
